name: Deploy Hugo site

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
      - name: Build
        run: hugo --minify
      - name: Deploy to local
        run: |
          sudo rm -rf /home/hugo/blog/public/*
          sudo cp -r public/* /home/hugo/blog/public/
          sudo chown -R ubuntu:ubuntu /home/hugo/blog/public/
          hugo --minify